@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Digital-7';
  src:url('../../public/fonts/Digital-7.ttf.woff') format('woff'),
      url('../../public/fonts/Digital-7.ttf.svg#Digital-7') format('svg'),
      url('../../public/fonts/Digital-7.ttf.eot'),
      url('../../public/fonts/Digital-7.ttf.eot?#iefix') format('embedded-opentype'); 
  font-weight: normal;
  font-style: normal;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 218, 91, 91;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.name-team {
  font-size: 2rem;
  font-weight: 600;
}

.logo {
  position: absolute;
  top: 15px;
  left: calc(50% - 72px);
}

.timer-game {
  position: absolute;
  left: calc(50% - 50px);
  color: greenyellow;
  text-shadow: 0 0 9px greenyellow;
  top: 30%;
  font-size: 3rem;
  font-family: 'Digital-7';
  letter-spacing: 1px;
}

.score {
  font-size: 10rem;
  font-weight: 900;
}

#icon-board {
  padding: 0;
  width: 90px;
  height: 90px;
}

#icon-board:hover {
  opacity: .7;
}

.start-button:hover {
  filter: drop-shadow(0 0 20px #22C55E);
}

.pause-button:hover {
  filter: drop-shadow(0 0 20px #CA8A04);
}

.reset-button:hover {
  filter: drop-shadow(0 0 20px #EF4444);
  transition: .3s all;
}

@media (max-width:762px) {
  body {
    width: 100%;
  }
  .main-board {
    width: 100%;
  }
  .name-team {
    margin: 5px;
  }
  .team-feature {
    background-color: #F44336;
    border-radius: 5px;
    margin: 5px;
  }
  #icon-board {
    margin-top: 10px;
    height: 60px;
    width: 60px;
  }
  .score {
    font-size: 4rem;
  }
}

@media (min-width:1100px) {
  body {
    width: 100%;
    height: 100%;
  }
  .teams-div {
    margin: 100px 140px 0 140px;
  }
  .name-team {
    font-weight: 900;
    letter-spacing: 3px;
    font-size: 3rem;
  }
  .score {
    font-size: 14rem;
    padding: 0;
  }
  .team-feature {
    font-size: 1.8rem;
    background-color: #F44336;
    border-radius: 5px;
  }
  #icon-board {
    display: none;
  }
  .reset-button {
    display: none;
  }
  .start-button, .pause-button {
    display: none;
  }
}
